.panel-images {
	display: block;
	height: auto;
	max-width: 100%;
	padding: 7px;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	line-height: 1.428571429;
	background-color: #FFFFFF;
	border: 1px solid #868686;
	border-radius: 4px;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	line-height: 1.428571429;
}

.panel-images-dark {
	background-color: #868686;
	border: 1px solid #000000;
	border-radius: 4px;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	line-height: 1.428571429;
}

.panel-images-body {
	display: inline-block;
	height: auto;
	max-width: 100%;
	text-align: center;
}

.panel-images-title {
	margin: 0;
}

.panel-images-horizontal .panel-images-body {
	float: left;
}

.panel-images-body img {
	height: auto;
	border: 1px solid #000000;
}

.panel-images-dark .caption {
	color: #000000;
}

.panel-images-horizontal .caption {
	float: left;
}

.panel-images .caption .btn-group {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width: 4em;
}

.panel-images.panel-images-horizontal .caption {
	display: block;
	float: left;
	vertical-align: middle;
	margin-left: 10px;
}

.panel-images-dark .caption a {
	color: #FFFFFF;
}

.panel-images-dark .caption a:ACTIVE {
	color: #FFFFFF;
}

.panel-images-dark .caption a:HOVER {
	color: #333333;
}

.panel-images-body img.img-sm {
	max-height: 100px;
}

.panel-images-body p.img-sm {
	min-height: 100px;
	margin: 0;
}

.panel-images-body p.img-sm .glyphicon {
	font-size: 60px;
	margin-top: 16px;
	color: #AAAAAA;
}

.panel-images-body img.img-md {
	max-height: 250px;
}

.panel-images-body p.img-md {
	min-height: 250px;
	max-width: 180px;
	margin: 0;
}

.panel-images-body p.img-md .glyphicon {
	font-size: 90px;
	margin-top: 16px;
	color: #BBBBBB;
}

/*
@media ( max-width : 767px) {
	.panel-images-body img.img-sm {
		max-height: 100px;
	}
	.panel-images-body p.img-sm {
		min-height: 100px;
		margin: 0;
	}
	.panel-images-body img.img-md {
		max-height: 250px;
	}
	.panel-images-body p.img-md {
		min-height: 250px;
		max-width: 180px;
		margin: 0;
	}
}

@media ( min-width : 768px) {
	.panel-images-body img.img-sm {
		max-height: 100px;
	}
	.panel-images-body p.img-sm {
		min-height: 100px;
		margin: 0;
	}
	.panel-images-body img.img-md {
		max-height: 250px;
	}
	.panel-images-body p.img-md {
		min-height: 250px;
		max-width: 180px;
		margin: 0;
	}
}

@media ( min-width : 992px) {
	.panel-images-body img.img-sm {
		max-height: 100px;
	}
	.panel-images-body p.img-sm {
		min-height: 100px;
		margin: 0;
	}
	.panel-images-body img.img-md {
		max-height: 250px;
	}
	.panel-images-body p.img-md {
		min-height: 250px;
		max-width: 180px;
		margin: 0;
	}
}
*/
.bd-list img {
	margin-bottom: 10px;
	box-shadow: 2px 2px 2px #888;
}

.bd-show {
	padding: 10px;
}

.bd-show img {
	min-height: 200px;
	box-shadow: 6px 6px 10px #666;
	/* 	margin: 5px; */
}

.bd-note img {
	height: 200px;
	float: left;
	margin-left: 30px;
	min-height: 100px;
	box-shadow: 6px 6px 10px #888;
}

.bd-note textarea {
	min-width: 200px;
}

.bd-note legend.text-only {
	margin-bottom: 0;
	border: none;
}

.table-color td {
	border-top-color: #000000;
}

.panel-inner>.panel,.panel-inner .table {
	margin-bottom: 0;
}

.panel-info>.panel-body {
	background-color: #EFF8FC;
}

.panel-info>.panel-footer {
	background-color: #d9edf7;
}

.panel-danger>.panel-body {
	background-color: #F9EDED;
}

.panel-danger>.panel-footer {
	color: #b94a48;
	border-color: #eed3d7;
	background-color: #f2dede;
}

.panel-body.panel-condensed {
	padding-bottom: 0;
}

.panel-title {
	font-size: 18px;
}

.panel-footer {
	font-size: 16px;
}

.glyphicon.with-text {
	padding-right: 0.7em;
}

.select2-container.select2-container-multi.form-control {
	padding: 0;
}

.select2-container-multi.form-control .select2-choices {
	min-height: 35px;
	line-height: 14px;
}

.select2-container-multi.form-control .select2-choices .select2-search-choice
	{
	line-height: 15px;
}

.view-label {
	text-align: right;
	/* 	font-size: 80%; */
	font-weight: bold;
	padding-right: 0;
	/* 	padding-top: 3px; */
	padding-left: 0;
	margin-bottom: 7px;
}

.view-value {
	margin-bottom: 7px;
}

@media ( max-width : 767px) {
	.view-label {
		text-align: left;
		padding-right: 15px;
		padding-left: 15px;
		margin-bottom: 0;
	}
}