.panel-images {
    display: block;
    height: auto;
    max-width: 100%;
    padding: 7px;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    line-height: 1.428571429;
    /*background-color: #FFFFFF;*/
    /*border: 1px solid #868686;*/
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.panel-images-col {
    float: none;
    margin: inherit;
}

.panel-images-col .panel-images-body {
    display: block;
}

.panel-images-dark {
    /*background-color: #BBDAE8;*/
    /*border: 1px solid #000000;*/
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    line-height: 1.428571429;
}

.panel-images-body {
    display: inline-block;
    height: auto;
    max-width: 100%;
    text-align: center;
}

.panel-images-title {
    margin: 0;
}

.panel-images-horizontal {
    margin-right: 30px;
}

.panel-images-horizontal .panel-images-body {
    float: left;
}

.panel-images-body img {
    height: auto;
    /*border: 1px solid #000000;*/
}

.panel-images-dark .caption {
    /*color: #000000;*/
}

.panel-images-horizontal .caption {
    float: left;
}

.panel-images .caption .btn-group {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 4em;
}

.panel-images.panel-images-horizontal .caption {
    display: block;
    float: left;
    vertical-align: middle;
    margin-left: 10px;
}

.panel-images-dark .caption a {
    /*color: #FFFFFF;*/
}

.panel-images-dark .caption a:ACTIVE {
    /*color: #FFFFFF;*/
}

.panel-images-dark .caption a:HOVER {
    /*color: #333333;*/
}

.panel-images-body p.img-xs {
    min-height: 50px;
    margin: 0;
}

.panel-images-body p.img-xs .glyphicon {
    font-size: 30px;
    margin-top: 16px;
    color: #777777;
}

.panel-images-body img.img-sm {
    height: 100px;
    /* 	max-height: 100px; */
}

.panel-images-body p.img-sm {
    min-height: 100px;
    margin: 0;
}

.panel-images-body p.img-sm .glyphicon {
    font-size: 60px;
    margin-top: 16px;
    color: #777777;
}

.panel-images-body img.img-md {
    height: 250px;
    /* 	max-height: 250px; */
}

.panel-images-body p.img-md {
    min-height: 250px;
    max-width: 180px;
    margin: 0;
}

.panel-images-body p.img-md .glyphicon {
    font-size: 90px;
    margin-top: 16px;
    color: #777777;
}

.panel-images-body img.img-max {
    width: 100%;
}

.panel-images-body p.img-max {
    min-height: 250px;
    max-width: 180px;
    margin: 0;
}

.panel-images-body p.img-max .glyphicon {
    font-size: 90px;
    margin-top: 16px;
    color: #777777;
}

.table-image .td-image {
    text-align: center;
    vertical-align: middle;
    width: 60px;
}

.table-image .td-text {
    vertical-align: middle;
}

.table-image .img-xs {
    height: 30px;
}

.table-image p.img-xs {
    margin: 0;
}

.table-image p.img-xs .glyphicon {
    font-size: 20px;
    color: #777777;
}

.nowrap {
    white-space: nowrap;
}

.bd-list img {
    margin-bottom: 10px;
    /*box-shadow: 2px 2px 2px #888;*/
}

.bd-show {
    padding: 10px;
}

.bd-show img {
    min-height: 200px;
    /*box-shadow: 6px 6px 10px #666;*/
}

.bd-show img.img-sm {
    min-height: 100px;
    height: 100px;
}

.bd-show p.img-sm .glyphicon {
    font-size: 40px;
    color: #777777;
}

.bd-show img.img-md {
    min-height: 250px;
    height: 250px;
}

.bd-show p.img-md .glyphicon {
    font-size: 80px;
    color: #777777;
}

.bd-show img.img-lg {
    min-height: 350px;
    height: 350px;
}

.bd-show p.img-lg .glyphicon {
    font-size: 120px;
    color: #777777;
}

.bd-show p.img-responsive {
    text-align: center;
}

.bd-show p.img-responsive .glyphicon {
    font-size: 120px;
    color: #777777;
}

.bd-note img {
    height: 200px;
    float: left;
    margin-left: 30px;
    min-height: 100px;
    /*box-shadow: 6px 6px 10px #888;*/
}

.bd-note textarea {
    min-width: 200px;
}

.bd-note legend.text-only {
    margin-bottom: 0;
    border: none;
}

.table-color td {
    /*border-top-color: #000000;*/
}

.panel-inner > .panel, .panel-inner .table {
    margin-bottom: 0;
}

.panel-info > .panel-body {
    /*background-color: #EFF8FC;*/
    /*background-color: #3D434B;*/
    background-color: #374659;

}

.panel-info > .panel-footer {
    /*background-color: #d9edf7;*/
    background-color: #283444;
}

.panel-danger > .panel-body {
    /*background-color: #F9EDED;*/
    background-color: #563B3B;
}

.panel-danger > .panel-footer {
    /*color: #b94a48;*/
    /*border-color: #eed3d7;*/
    background-color: #4D2B2A;
}

.panel-success > .panel-body {
    background-color: #3F573F;
}

.panel-success > .panel-footer {
    /*color: #468847;*/
    background-color: #273627;
    /*border-color: #d6e9c6;*/
}

.panel-warning > .panel-body {
    background-color: #7C4A03;
}

.panel-warning > .panel-footer {
    background-color: #3E2502;
}

.panel-body.panel-condensed {
    padding-bottom: 0;
}

.panel-title {
    font-size: 18px;
}

.text-muted a {
    /*color: #999999;*/
}

.text-muted a:hover,
.text-muted a:focus {
    /*color: #000000;*/
    text-decoration: none;
}

.text-nobold {
    font-weight: normal;
}

.glyphicon.with-text {
    padding-right: 0.5em;
}

.caret.with-text {
    margin-left: 0.5em;
}

.view-label {
    text-align: right;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 7px;
}

.view-value {
    /*font-weight: bold;*/
    margin-bottom: 7px;
    color: #ffffff;
}

.view-value a {
    color: #ffff9c;
}

@media ( max-width: 767px) {
    .view-label {
        text-align: left;
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom: 0;
    }
}

@media (min-width: 768px) {
    .dl-horizontal dt {
        width: 100px;
    }

    .dl-horizontal dd {
        margin-left: 120px;
    }
}

.dl-horizontal dt {
    font-weight: normal;
}

.dl-horizontal dd {
    color: #ffffff;
}

.dl-horizontal dd a {
    color: #ffff9c;
}

.label {
    /*display: inline;*/
    /*padding: .2em .6em .3em;*/
    font-size: 90%;
    font-weight: normal;
    /*line-height: 1;*/
    /*color: #ffffff;*/
    /*text-align: center;*/
    /*white-space: nowrap;*/
    /*vertical-align: baseline;*/
    /*border-radius: .25em;*/
}

.label-danger {
    color: #331111;
}

.label-success {
    color: #113300;
}

.label-warning {
    color: #331111;
}

.table a {
    text-decoration: none;
}

.table a:hover, .table a:active {
    text-decoration: underline;
}

.table .btn-group {
    white-space: nowrap;
}

.double {
    line-height: 2;
    font-size: 150%;
}

.label-default.label-disabled {
    /*color: #CCCCCC;*/
}

/*!
 * Mon Theme
 */
.panel-root {
    margin-right: -15px;
}

.panel-inner .panel-root {
    margin-right: 0px;
}

.panel-default {
    /*border-color: #BBDAE8;*/
}

.panel-footer {
    font-size: 16px;
    /*background-color: #DDECF3;*/
    /*border-top: 1px solid #BBDAE8;*/
}

.panel-footer a {
    /*color: #708080;*/
    text-decoration: none;
}

.panel-footer a:hover, .panel-footer a:focus {
    /*color: #405050;*/
    text-decoration: underline;
}

.panel-default > .panel-heading {
    /*color: #333333;*/
    /*background-color: #DDECF3;*/
    /*border-color: #BBDAE8;*/
}

.panel-default > .panel-heading + .panel-collapse .panel-body {
    /*border-top-color: #BBDAE8;*/
}

.panel-default > .panel-footer + .panel-collapse .panel-body {
    /*border-bottom-color: #BBDAE8;*/
}

.panel-body > h1, .panel-body > h2, .panel-body > h3 {
    margin-top: 0;
}

.well {
    /*background-color: #DDECF3;*/
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small {
    font-weight: normal;
    line-height: 1;
    color: #f7f7f7;
}

.btn-space {
    padding-left: 3px;
}

.btn-separator {
    padding-left: 6px;
}

.btn-margin {
    margin-right: 11px;
}

.btn-margin-double {
    margin-right: 44px;
}

.btn-default, a.btn-default {
    /*color: #333333;*/
    /*background-color: #e9f0f0;*/
    /*border-color: #c0d0d0;*/
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default, a.btn-default:hover {
    /*color: #333333;*/
    /*background-color: #c0d0d0;*/
    /*border-color: #BBDAE8;*/
    text-decoration: none;
}

.btn-note,
.btn-nonote {
    color: #ffffff;
    background-color: #3a3f44;
    /*border-color: #3a3f44;*/
}

.btn-note:hover,
.btn-note:focus,
.btn-nonote:hover,
.btn-nonote:focus {
    color: #ffffff;
    background-color: #232628;
    /*border-color: #1e2023;*/
}

.btn-note:active,
.btn-note.active,
.btn-note.active:hover,
.btn-note.active:focus {
    color: #ffffff;
    background-color: #246D8C;
    background-image: none;
}

.btn-nonote:active,
.btn-nonote.active,
.btn-nonote.active:hover,
.btn-nonote.active:focus {
    color: #ffffff;
    background-color: #BB6219;
    background-image: none;
}

.btn-note,
.btn-nonote {
    background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-image: -o-linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff484e55', endColorstr='#ff313539', GradientType=0);
    filter: none;
}

.btn-note:hover,
.btn-nonote:hover {
    background-image: -webkit-linear-gradient(#020202, #101112 40%, #191b1d);
    background-image: -o-linear-gradient(#020202, #101112 40%, #191b1d);
    background-image: linear-gradient(#020202, #101112 40%, #191b1d);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff020202', endColorstr='#ff191b1d', GradientType=0);
    filter: none;
}

.margin-top-sm {
    margin-top: 8px;
}

.margin-top-lg {
    margin-top: 16px;
}

.navbar-default {
    /*background-color: #DDECF3;*/
    /*border-color: #99C7DB;*/
}

.navbar-default .navbar-brand {
    /*color: #6499B0;*/
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    /*color: #59879B;*/
    /*background-color: transparent;*/
}

.navbar-default .navbar-nav > li > a {
    /*color: #59879B;*/
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    /*color: #000000;*/
    /*background-color: #DDECF3;*/
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    /*color: #1E2D34;*/
    /*background-color: #DDECF3;*/
}

.navbar-default .navbar-nav > .active > a {
    /*color: #59879B;*/
    /*background-color: #DDECF3;*/
    font-size: 18px;
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    /*color: #000000;*/
    /*background-color: #DDECF3;*/
}

.navbar-default .navbar-nav > .dropdown > a .caret {
    /*border-top-color: #59879B;*/
    /*border-bottom-color: #59879B;*/
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    /*border-top-color: #000000;*/
    /*border-bottom-color: #000000;*/
}

.navbar-default .navbar-nav .open .dropdown-menu {
    /*background-color: #DDECF3;*/
}

.navbar-default .navbar-nav .open .dropdown-menu .divider {
    /*background-color: #6499B0;*/
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    /*background-color: #99C7DB;*/
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);*/
    -webkit-box-shadow: 0 0 6px 3px rgba(102, 175, 233, 0.5), inset 0 0 4px 2px rgba(102, 175, 233, 0.5);
    /*box-shadow: 0 0 6px 3px rgba(102, 175, 233, 0.6), inset 0 0 4px 2px rgba(102, 175, 233, 0.6);*/
    box-shadow: 0 0 6px 3px rgba(102, 175, 233, 0.5), inset 0 0 4px 2px rgba(102, 175, 233, 0.5);
}

.has-error .form-control {
    background-color: #ffbf9b;
}