.popover-content {
	font-weight: normal;
}

.panel-images {
	display: inline-block;
	display: block;
	height: auto;
	max-width: 100%;
	padding: 7px;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	line-height: 1.428571429;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	border-radius: 4px;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	line-height: 1.428571429;
}

.panel-images-body {
	display: block;
	height: auto;
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.panel-images-body>img {
	height: auto;
}

.panel-images .caption {
	padding: 3px;
	color: #333333;
}

@media ( max-width : 767px) {
	.panel-images-body>img {
		max-height: 250px;
	}
}

@media ( min-width : 768px) {
	.panel-images-body>img {
		max-height: 200px;
	}
}

@media ( min-width : 992px) {
	.panel-images-body>img {
		max-height: 200px;
	}
}

.bd-list img {
	margin-bottom: 10px;
	box-shadow: 2px 2px 2px #888;
}

.bd-show {
	padding: 10px;
}

.bd-show img {
	min-height: 200px;
	box-shadow: 6px 6px 10px #666;
	/* 	margin: 5px; */
}

.bd-note img {
	height: 200px;
	float: left;
	margin-left: 30px;
	min-height: 100px;
	box-shadow: 6px 6px 10px #888;
}

.bd-note textarea {
	min-width: 200px;
}

.bd-note legend.text-only {
	margin-bottom: 0;
	border: none;
}

.table-color td {
	border-top-color: #000000;
}